.jajja{
    text-align: center;
    background-color: rgb(132, 201, 201);
    font-family: cursive;
}
.jejje{
    text-align:center;
    background-color: green;
    font-size: 25px;

}
.jijij{
    text-align: center;
    background-color:lawngreen;
    font-size: 25px;

}
.jojo{
    text-align: center;
    background-color: blue;
    font-size: 25px;
}